@import 'palette';

/**
 * Размер шрифта по умолчанию.
 * @type Number
 */
$global-font-size: 18 !default;

/**
 * Высота строки по умолчанию.
 * @type Number
 */
$global-line-height: 1.5 !default;

/**
 * Нормальное начертание символов.
 * @type Keyword | Number
 */
$global-weight-normal: normal !default;

/**
 * Жирное начертание.
 * @type Keyword | Number
 */
$global-weight-bold: bold !default;

/**
 * Шрифт тела по умолчанию.
 * @type List
 */
$global-body-font-family: Arial, sans-serif !default;

/**
 * Цвет текста тела по умолчанию.
 * @type Color
 */
$global-body-font-color: $grey-deep !default;

/**
 * Цвет фона тела по умолчанию.
 * @type Color
 */
$global-body-background: $grey-washed !default;

/**
 * Включает `<true>` округление углов.
 * @type Boolean
 */
$global-enable-rounded: true !default;
 
/**
 * Значение радиуса угла по умолчанию.
 * @type Number
 */
$global-border-radius: 0.1875rem !default;

/**
 * Включает `<true>` тени у элементов.
 * @type Boolean
 */
$global-enable-shadows: true !default;
 
 /**
  * Значение тени по умолчанию.
  * @type Number
  */
$global-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05) !default;

 /**
 * Включает `<true>` переход у элементов.
 * @type Boolean
 */
$global-enable-transitions: true !default;
 
/**
 * Значение перехода  по умолчанию.
 * @type List
 */
$global-transition: all .25s !default;
