@import 'global';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: $global-body-font-color;
	font-family: $global-body-font-family;
	font-size: $global-font-size + px;
	font-weight: $global-weight-normal;
	line-height: $global-line-height;
	
	background: $global-body-background;
	position: relative;
	margin: 0; /* Убираем отступ во всех браузерах. */
	padding: 0;
}

body, html {
	height: 100%;
	width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem/*8px*/;
}

p {
	margin-top: 0;
	margin-bottom: 1rem/*16px*/;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
