/**
 * Выравнивание текста по левому краю.
 */
.text_left {
	text-align: left;
}

/**
 * Выравнивание текста по центру.
 */
.text_center {
	text-align: center;
}

/**
 * Выравнивание текста по правому краю.
 */
.text_right {
	text-align: right;
}

/**
 * Выравнивание по ширине.
 */
.text_justify {
	text-align: justify;
}
