/**
 * Размер шрифта `<small>` элементов.
 * @type Number
 */
$font-size-sm: .875rem/*14 px*/ !default;

/**
 * Размер шрифта `<medium>` элементов.
 * @type Number
 */
$font-size-md: 1rem/*16px*/ !default;

/**
 * Размер шрифта `<large>` элементов.
 * @type Number
 */
$font-size-lg: 1.125rem/*18px*/ !default;

/**
 * Размеры заголовков.
 * @type Map
 */
$header-sizes: (
	'h1': 40,
	'h2': 32,
	'h3': 28,
	'h4': 24,
	'h5': 20,
	'h6': 16,
) !default;

@each $header, $font-size in $header-sizes {
	#{$header} {
		font-size: $font-size + px;
	}
}